.postsPage {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.pageTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.postTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.postBody {
  font-size: 16px;
}

.postMeta {
  margin-top: 15px;
  font-size: 14px;
}

.postId,
.postUserId {
  margin-right: 10px;
}

.loadButton {
  margin: 0 auto;
  color: white;
  width: 200px;
}
